/* 
  font-family: "Inter", sans-serif;
  font-family: "Ubuntu", sans-serif;
*/

:root {
  --clr-primary: hsla(230, 100%, 66%, 1);
  --clr-secondary: hsla(51, 100%, 50%, 1);
  --clr-black-primary: hsla(240, 6%, 10%, 1);
  --clr-black-secondary: hsla(240, 5%, 34%, 1);
  --clr-gray-secondary: hsla(0, 0%, 47%, 1);
  --clr-gray-tone: hsla(0, 0%, 74%, 1);
  --clr-white-primary: hsla(0, 0%, 100%, 1);

  --ff-base: "Inter", sans-serif;
  --ff-secondary: "Ubuntu", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

section {
  position: relative;
}

html {
  color-scheme: light;
  font-size: 62.5%;
}

body {
  font-family: var(--ff-base);
  font-size: 1.6rem;
}

/* Header Styles */

header > nav {
  font-family: "Inter", sans-serif;
  font-weight: var(--fw-regular);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4vw;
  width: 85%;
  margin: 4rem auto 0;
  padding-bottom: 2.4rem;

  border-bottom: 0.1rem solid var(--clr-gray-tone);
}

nav > div.logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-right: auto;
  cursor: pointer;
}

nav > div.logo > h2 {
  color: var(--clr-black-primary);
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(3rem, 3vw, 4.2rem);
  font-weight: var(--fw-medium);
}

header > nav > ul {
  display: flex;
  justify-content: baseline;
  gap: 2.5vw;
  z-index: 99;
}

header > nav > ul a:first-of-type {
  color: var(--clr-primary);
  font-size: 1.8rem;
  font-weight: 600;
}

header > nav > ul > a {
  color: var(--clr-black-secondary);
  white-space: nowrap;
}

header > nav > button {
  background-color: var(--clr-primary);
  color: var(--clr-white-primary);
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 2.6vw;
  border: 1px solid var(--clr-primary);

  font-size: clamp(1.5rem, 2vw, 1.8rem);
  font-weight: var(--fw-semi-bold);

  cursor: pointer;
  transition: all 0.5s;
}

header > nav > button:hover {
  background-color: var(--clr-white-primary);
  color: var(--clr-primary);
}

.icon {
  display: none;
  font-size: 2.5rem;
  color: var(--clr-black-secondary);
}

.responsive-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -160%;
  right: 18%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 765px) {
  .logo > h2 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header > nav > ul {
    display: none;
  }

  .icon {
    display: block;
  }
}

/* Main Content Styles */

.top-info-section {
  width: 85%;
  margin: 6.4rem auto 10.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.top-info-section img {
  width: clamp(40rem, 40vw, 60rem);
  transition: transform 0.5s;
}

.top-info-section img:hover {
  transform: scale(1.05);
}

.top-info-section h1 {
  color: var(--clr-black-primary);
  font-size: clamp(4rem, 5vw, 5.6rem);
  font-weight: var(--fw-bold);
  line-height: clamp(6rem, 5vw, 7.4rem);
}

.top-info-section h1 > span {
  color: hsla(51, 100%, 50%, 1);
}

.top-info-section p {
  color: var(--clr-gray-secondary);

  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: var(--fw-regular);
  line-height: clamp(2rem, 3vw, 3.4rem);
  margin-top: 2.4rem;
  max-width: 80%;
}

.top-btns {
  display: flex;
  gap: 3vw;
  margin-top: 6.4rem;
}

.top-info-section .top-btns > button {
  padding: 1.6rem 3vw;
  border-radius: 0.8rem;
  cursor: pointer;

  font-size: 1.8rem;
  font-style: normal;
  font-weight: var(--fw-semi-bold);
}

.top-btns button:nth-of-type(1) {
  border: 0.1rem solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-white-primary);
  transition: all 0.5s;
}

.top-btns button:nth-of-type(1):hover {
  background-color: var(--clr-white-primary);
  color: var(--clr-primary);
}

.top-btns button:nth-of-type(2) {
  border: 0.1rem solid var(--clr-black-secondary);
  background-color: var(--clr-white-primary);
  color: var(--clr-black-secondary);
  transition: all 0.5s;
}

.top-btns button:nth-of-type(2):hover {
  background-color: var(--clr-black-secondary);
  color: var(--clr-white-primary);
}

@media only screen and (max-width: 991px) {
  .top-info-section {
    flex-direction: column;
  }

  .main-text h1,
  .main-text p {
    text-align: center;
    max-width: 100%;
  }

  .top-btns {
    justify-content: center;
    margin-top: 3.4rem;
  }

  .top-info-section img {
    width: 80%;
    margin-top: 2.4rem;
  }
}

/* 2nd section styles */

.get-service-section {
  background-color: var(--clr-primary);
  padding: 0 7.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 28.8rem;
}

.get-service-section h2 {
  color: var(--clr-white-primary);

  font-size: 4.2rem;
  font-weight: var(--fw-semi-bold);
}

.get-service-section > div p {
  margin-top: 1.6rem;
  color: var(--clr-white-primary);

  font-size: 2.2rem;
  font-weight: var(--fw-medium);
}

.steps-wrapper {
  display: flex;
  gap: 3vw;
}

.steps-wrapper div {
  background-color: var(--clr-white-primary);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 16rem;
  min-width: 14.5rem;
  flex-shrink: 2;
}

.steps-wrapper img {
  width: 4.8rem;
}

.steps-wrapper div p {
  color: var(--clr-black-secondary);
  text-align: center;
  width: 80%;

  font-size: 1.8rem;
  font-weight: var(--fw-semi-bold);
  line-height: 2.4rem;
}

@media only screen and (max-width: 991px) {
  .get-service-section {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    min-height: 34.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .get-service-section {
    min-height: 74.8rem;
  }

  .steps-wrapper {
    flex-direction: column;
  }
}

/* 3rd section styles */

.always-laugh-section {
  display: flex;
}

.always-laugh-section .left-part {
  background-color: #f8fafc;
  border-radius: 0px 0px 136px 0px;
  padding: 11.6rem 0 0 7.5vw;
  width: 45vw;
  flex-shrink: 0;
}

.always-laugh-section .right-part {
  color: var(--clr-black-primary);
  padding-right: 7.5vw;
}

.always-laugh-section h2 {
  color: var(--clr-black-primary);

  font-size: 4.8rem;
  font-weight: var(--fw-semi-bold);
  line-height: 6.4rem;
  margin-bottom: 5.6rem;
  padding-right: 1rem;
}

.always-laugh-section h2 span {
  color: var(--clr-secondary);

  font-size: 6rem;
  font-weight: var(--fw-extra-bold);
  line-height: 6.4rem;
}

.left-part hr {
  color: var(--clr-primary);
  height: 0.1rem;
}

.left-part img {
  width: 90%;
  margin: 4.8rem auto 6.5vw;
  transition: all 0.5s;
}

.left-part img:hover {
  transform: scale(1.05);
}

.always-laugh-section p {
  color: var(--clr-gray-secondary);
  margin: 13.6rem 0 6.65rem 4.7vw;

  font-size: 2rem;
  font-weight: var(--fw-regular);
  line-height: 3.4rem;
}

.right-part hr {
  color: hsla(240, 5%, 34%, 0.25);
  height: 0.1rem;
}

.always-laugh-section h3 {
  color: var(--clr-black-primary);
  font-size: 2.4rem;
  font-weight: var(--fw-medium);
  margin: 8.8rem 0 0 7.2rem;
}

.always-laugh-section .right-part ul {
  list-style: none;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  margin: 3.2rem 0 0 11.5rem;
}

.always-laugh-section .right-part li {
  font-size: 2.2rem;
  font-weight: var(--fw-medium);
  margin-bottom: 2.4rem;
  padding-right: 4rem;
  text-indent: -2.4rem;
}

.always-laugh-section .right-part li::before {
  content: url("/images/shield.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 991px) {
  .always-laugh-section {
    flex-direction: column;
  }
  .always-laugh-section .left-part {
    width: 100%;
    padding: 5.6rem 7.5vw 0 7.5vw;
    text-align: center;
    border-radius: 0;
  }

  .always-laugh-section .left-part h2 {
    padding: 0;
  }

  .always-laugh-section .right-part p {
    margin: 6rem 0;
    text-align: center;
  }

  .always-laugh-section .right-part {
    padding-left: 7.5vw;
  }

  .always-laugh-section .right-part h3 {
    margin-left: 0;
  }

  .always-laugh-section .right-part ul {
    margin-left: 4.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .always-laugh-section .right-part h3 {
    text-align: center;
  }

  .always-laugh-section .right-part ul {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    margin-left: 25vw;
  }
}

/* 4th section styles */

.key-features-section {
  width: 85%;
  margin: 12.8rem auto 0;
}

.key-features-section > h2 {
  color: var(--clr-black-primary);
  font-size: 4.8rem;
  font-weight: var(--fw-semi-bold);
}

.key-features-section > span {
  color: var(--clr-black-primary);
  font-size: 5.6rem;
  font-weight: var(--fw-bold);

  position: absolute;
  right: 0;
  top: 4%;
}

.key-features-section > span > span {
  color: var(--clr-secondary);
}

.key-features-section > .kf-title > span {
  color: var(--clr-black-primary);
  font-size: 6rem;
  font-weight: var(--fw-bold);
}

.key-features-section > .kf-title {
  display: flex;
  gap: 5vw;
}

.key-features-section > .kf-title > hr {
  width: 100%;
  height: 0.1rem;
  border: none;
  background-color: var(--clr-gray-tone);
  align-self: flex-end;
  margin-bottom: 2rem;
}

.features-grid {
  width: 105%;
  position: relative;
  left: -3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4.4rem 0 9.2rem 0;
}

.features-grid > div {
  background-color: hsla(210, 40%, 98%, 1);
  border-radius: 1.6rem;
  border: 0.1rem solid rgba(82, 82, 91, 0.1);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3.2rem;
  margin: 2.3vw;
  gap: 1.8rem;
}

.features-grid > div > img {
  max-width: 40%;
}

.features-grid > div > h3 {
  color: var(--clr-black-primary);

  font-size: 2.4rem;
  font-weight: var(--fw-medium);
  line-height: 3.4rem;
}

.features-grid > div > p {
  color: var(--clr-gray-secondary);

  font-size: 1.6rem;
  font-weight: var(--fw-medium);
  line-height: 2.6rem;
}

@media only screen and (max-width: 991px) {
  .key-features-section > span {
    display: none;
  }

  .features-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
}

/* 5th section styles */

.bright-your-smile-section {
  background-color: var(--clr-primary);
  color: var(--clr-white-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12.8rem;
}

.bright-your-smile-section h2 {
  padding-top: 8.8rem;
  font-size: 3.6rem;
  font-weight: var(--fw-regular);
  line-height: 6rem;
  max-width: 70%;
}

.bright-your-smile-section h2 span {
  font-size: 4.8rem;
  font-weight: var(--fw-semi-bold);
  line-height: 6.4rem;
}

.bright-your-smile-section p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: var(--fw-regular);
  line-height: 3rem;
  max-width: 60%;
}

.bright-your-smile-section button {
  color: var(--clr-white-primary);
  background-color: var(--clr-primary);
  border-radius: 1.6rem;
  border: 0.2rem solid var(--clr-white-primary);
  padding: 2.4rem 5vw;
  margin: 5.6rem 0 8.8rem;
  max-width: 80%;
  cursor: pointer;

  font-family: inherit;
  font-size: 2rem;
  font-weight: var(--fw-regular);
  line-height: 3.4rem;
  text-align: center;
  transition: all 0.5s;
}

.bright-your-smile-section button:hover {
  color: var(--clr-primary);
  background-color: var(--clr-white-primary);
}

/* 6th sections styles */

.history-section {
  width: 85%;
  margin: 0 auto;
}

.history-section > h2 {
  color: var(--clr-black-primary);
  font-size: 4.8rem;
  font-weight: var(--fw-semi-bold);
  text-align: end;
}

.history-section > span {
  color: var(--clr-black-primary);
  font-size: 5.6rem;
  font-weight: var(--fw-bold);

  position: absolute;
  left: 0;
  top: 6%;
}

.history-section > span > span {
  color: var(--clr-secondary);
}

.history-section > .h-title > span {
  color: var(--clr-black-primary);
  font-size: 6rem;
  font-weight: var(--fw-bold);
}

.history-section > .h-title {
  display: flex;
  gap: 5vw;
}

.history-section > .h-title > hr {
  width: 100%;
  height: 0.1rem;
  border: none;
  background-color: var(--clr-gray-tone);
  align-self: flex-end;
  margin-bottom: 2rem;
}

.history-content {
  margin: 7.2rem 0 12.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-content img {
  max-width: 45%;
  transition: all 0.5s;
}

.history-content img:hover {
  transform: scale(1.05);
}

.history-text {
  border-radius: 1.6rem;
  border: 0.1rem solid rgba(82, 82, 91, 0.1);
  background: #f8fafc;
  padding: 4.8rem;
  max-width: 50%;
}

.history-text h3 {
  color: var(--clr-black-primary);
  font-size: 2.4rem;
  font-weight: var(--fw-medium);
  line-height: 3.4rem;
  margin-bottom: 2rem;
}

.history-text p {
  color: var(--clr-gray-secondary);

  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 3.4rem;
  letter-spacing: 0.64px;
}

@media only screen and (max-width: 991px) {
  .history-section > span {
    display: none;
  }

  .history-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  .history-content img {
    max-width: 100%;
  }

  .history-text {
    padding: 4.8rem;
    max-width: 100%;
  }
}

/* 7th section styles */

.our-doctors-section {
  width: 85%;
  margin: 0 auto;
}

.our-doctors-section > h2 {
  color: var(--clr-black-primary);
  font-size: 4.8rem;
  font-weight: var(--fw-semi-bold);
}

.our-doctors-section > span {
  color: var(--clr-black-primary);
  font-size: 5.6rem;
  font-weight: var(--fw-bold);

  position: absolute;
  right: 0;
  top: 6%;
}

.our-doctors-section > span > span {
  color: var(--clr-secondary);
}

.our-doctors-section > .od-title > span {
  color: var(--clr-black-primary);
  font-size: 6rem;
  font-weight: var(--fw-bold);
}

.our-doctors-section > .od-title {
  display: flex;
  gap: 5vw;
}

.our-doctors-section > .od-title > hr {
  width: 100%;
  height: 0.1rem;
  border: none;
  background-color: var(--clr-gray-tone);
  align-self: flex-end;
  margin-bottom: 2rem;
}

.doctors-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;
  margin: 8.8rem 0 14.4rem;
}

@media only screen and (max-width: 1200px) {
  .our-doctors-section > span {
    display: none;
  }

  .doctors-wrapper > div:nth-child(1) {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .doctors-wrapper > div:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .doctors-wrapper > div:nth-child(3) {
    display: none;
  }
}

.doctors-wrapper::before {
  content: url("/images/arrow-left.svg");
  background-color: rgba(24, 24, 27, 0.05);
  padding: 24px 8px;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.doctors-wrapper::after {
  content: url("/images/arrow-right.svg");
  background-color: rgba(24, 24, 27, 0.05);
  padding: 24px 8px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.doctor-info {
  color: var(---clr-black-primary);
  text-align: center;
}

.doctor-info img {
  transition: all 0.5s;
}

.doctor-info img:hover {
  transform: scale(1.05);
}

.doctor-info h3 {
  font-size: 2rem;
  font-weight: var(--fw-regular);
  line-height: 3.4rem;
  margin: 3.2rem 0 0.4rem 0;
}

.doctor-info p {
  color: var(--clr-gray-secondary);

  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
}

.doctor-info button {
  background-color: transparent;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--clr-primary);
  padding: 1.2rem 2.5vw;
  margin-top: 3.2rem;
  cursor: pointer;

  color: var(--clr-primary);
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
  transition: all 0.5s;
}

.doctor-info button:hover {
  background-color: var(--clr-primary);
  color: var(--clr-white-primary);
}

/* 8th section styles */

.reviews-section {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5%;

  min-height: 66rem;
}

.review-image {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.review-img {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-white-primary);
  border-radius: 8px;
  box-shadow: 0px 8px 24px 0px rgba(34, 48, 114, 0.07);

  padding: 4rem;
}

.review-img img {
  transition: all 0.5s;
}

.review-img img:hover {
  transform: scale(1.05);
}

.yellow-rect {
  width: 80%;
  min-height: 470px;
  background-color: var(--clr-secondary);
  border-radius: 8px;

  position: absolute;
  z-index: 0;
}

.review-image .stars,
.review-image-inside .stars {
  display: flex;
  margin-top: 0.8rem;
  gap: 8px;
}

.review-image h3,
.review-image-inside h3 {
  color: var(--cla-black-primary);
  margin-top: 2.4rem;

  font-size: 1.8rem;
  font-weight: var(--fw-semi-bold);
  line-height: 2.4rem;
}

.review-image-inside {
  display: none;
}

.review-text {
  max-width: 46%;
}

.review-text hr {
  color: rgba(255, 255, 255, 0.25);
  height: 2px;
  margin-bottom: 1.6rem;
}

.review-text h2 {
  color: var(--clr-white-primary);
  margin-bottom: 4rem;

  font-size: 3.6rem;
  font-weight: var(--fw-regular);
  line-height: 6rem;
}

.review-text p {
  color: var(--clr-white-primary);
  margin: 1.6rem 0 4.8rem 0;

  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 3.4rem;
  letter-spacing: 0.64px;
}

.review-buttons {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.review-buttons input[type="radio"] {
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 991px) {
  .reviews-section {
    min-height: 130rem;
  }

  .review-image {
    display: none;
  }

  .review-text {
    max-width: 80%;
  }

  .review-image-inside {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
  }

  .review-img-inside {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-white-primary);
    border-radius: 8px;
    box-shadow: 0px 8px 24px 0px rgba(34, 48, 114, 0.07);

    padding: 4rem;
  }

  .yellow-rect-inside {
    width: 25rem;
    min-height: 470px;
    background-color: var(--clr-secondary);
    border-radius: 8px;

    position: absolute;
    z-index: 0;
  }

  .review-image .stars {
    display: flex;
    margin-top: 0.8rem;
    gap: 8px;
  }
}

/* 9th section styles */

.appointment-section {
  max-width: 85%;
  margin: 0 auto;
}

.appointment-section > h2 {
  color: var(--clr-black-primary);
  font-size: 4.8rem;
  font-weight: var(--fw-semi-bold);
  text-align: end;
  margin-top: 12rem;
}

.appointment-section > span {
  color: var(--clr-black-primary);
  font-size: 5.6rem;
  font-weight: var(--fw-bold);

  position: absolute;
  left: 0;
  top: 4%;
}

.appointment-section > span > span {
  color: var(--clr-secondary);
}

.appointment-section > .as-title > span {
  color: var(--clr-black-primary);
  font-size: 6rem;
  font-weight: var(--fw-bold);
}

.appointment-section > .as-title {
  display: flex;
  gap: 5vw;
}

.appointment-section > .as-title > hr {
  width: 100%;
  height: 0.1rem;
  border: none;
  background-color: var(--clr-gray-tone);
  align-self: flex-end;
  margin-bottom: 2rem;
}

.appointment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8.8rem 0 12rem;
}

.appointment-content img {
  flex-shrink: 2;
  max-width: 45%;
  transition: all 0.5s;
}

.appointment-content img:hover {
  transform: scale(1.05);
}

.appointment-content > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  column-gap: 4rem;
  row-gap: 2rem;
  align-content: center;
}

.appointment-content > form label {
  color: var(--clr-black-primary);

  font-size: 1.4rem;
  font-weight: var(--fw-regular);
  line-height: 2rem;
}

.appointment-content > form > * {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.appointment-content > form input,
.appointment-content > form select,
.appointment-content > form textarea {
  color: var(--clr-black-secondary);
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
  padding: 12px 0 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--black-gray-black-25, rgba(82, 82, 91, 0.25));
  background-color: var(--clr-white-primary);
}

.appointment-content > form select {
  padding: 1.45rem 0 1.45rem 1.6rem;
}

.form-message {
  grid-column: 1 / 3;
  margin-bottom: 12px;
}

.form-message > textarea {
  min-height: 14.4rem;
}

.form-checkbox {
  flex-direction: row !important;
  grid-column: 1 / 3;
  margin-bottom: 4px;
}

.form-checkbox input {
  flex-shrink: 10;
}

.appointment-content > form > input[type="submit"] {
  grid-column: 1 / 3;
  background-color: var(--clr-primary);
  color: var(--clr-white-primary);
  border: 1px solid var(--clr-primary);
  padding: 1.6rem 0;
  cursor: pointer;

  transition: all 0.5s;
}

.appointment-content > form > input[type="submit"]:hover {
  color: var(--clr-primary);
  background-color: var(--clr-white-primary);
}

@media only screen and (max-width: 1200px) {
  .appointment-section > span {
    display: none;
  }

  .appointment-content {
    flex-direction: column;
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
  }

  .appointment-content form {
    width: 90%;
  }

  .appointment-content img {
    display: none;
  }
}

@media only screen and (max-width: 601px) {
  .appointment-content form {
    grid-template-columns: 1fr;
    justify-content: center;
    column-gap: 0;
  }

  .appointment-content form * {
    grid-column: 1 / 2;
    width: 100%;
  }
}

/* 10th section styles */

.newsletter-section {
  background-color: hsla(210, 40%, 98%, 1);
  padding: 9.6rem 7.5vw;
}

.newsletter-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
  background-color: hsla(198, 60%, 32%, 1);
}

.newsletter-wrapper img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
}

.newsletter-wrapper img:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
}

.newsletter-wrapper h2 {
  color: var(--clr-white-primary);
  text-align: center;
  font-size: 4.2rem;
  font-weight: var(--fw-semi-bold);
  line-height: 4.6rem;
  padding: 8.2rem 0 4.8rem;
}

.newsletter-wrapper form {
  padding-bottom: 10rem;
  display: flex;
  gap: 2.8rem;
}

.newsletter-wrapper form input {
  color: var(--clr-white-primary);
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px 20px;
}

.newsletter-wrapper form input[type="submit"] {
  background-color: var(--clr-white-primary);
  color: var(--clr-black-primary);
  padding: 1.6rem 6.5vw;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .newsletter-wrapper form {
    flex-direction: column;
  }
}

/* Footer styles */

.footer-wrapper {
  background-color: var(--clr-primary);
  color: var(--clr-white-primary);
  padding: 10rem 7.5vw 9rem;

  display: flex;
  justify-content: space-between;
}

.footer-wrapper > :not(.footer-wrapper > *:last-of-type) {
  width: 25%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 4rem;
}

.logo-footer h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.4rem;
  font-weight: var(--fw-medium);
  line-height: 2.6rem;
}

.footer-wrapper > div:first-of-type p {
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 3.4rem;
  letter-spacing: 0.64px;
  max-width: 90%;
}

.first-p {
  font-size: 1.4rem;
  font-weight: var(--fw-regular);
  line-height: 2rem;
}

.footer-wrapper div:nth-of-type(2) {
  padding: 0 3vw;
}

.footer-wrapper div:nth-of-type(2) h4 {
  font-size: 2.8rem;
  font-weight: var(--fw-semi-bold);
  line-height: 4rem;
  margin: 4rem 0;
}

.footer-wrapper div:nth-of-type(2) p:not(.first-p) {
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
}

.footer-wrapper div:nth-of-type(3) {
  padding: 0 3vw;
}

.footer-wrapper div:nth-of-type(3) > p {
  font-size: 1.4rem;
  font-weight: var(--fw-regular);
  line-height: 2rem;
}

.footer-wrapper div:nth-of-type(3) ul {
  list-style: none;
  columns: 2;
  margin-top: 4.8rem;
}

.footer-wrapper div:nth-of-type(3) ul li {
  margin-bottom: 1.6rem;
}

.footer-wrapper div:nth-of-type(3) ul li a {
  color: var(--clr-white-primary);

  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
}

.footer-wrapper > div:last-of-type {
  padding-left: 3vw;
}

.p-14 {
  font-size: 1.4rem;
  font-weight: var(--fw-regular);
  line-height: 2rem;
}

.p-16 {
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
}

.p-14:first-child {
  margin-bottom: 4.8rem;
}

.p-16:nth-child(2) {
  margin-bottom: 3.2rem;
}

.p-14:nth-child(3) {
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 991px) {
  .footer-wrapper {
    flex-wrap: wrap;
  }

  .footer-wrapper > div:nth-child(2) {
    border-right: none !important;
    padding-left: 4vw !important;
    padding-bottom: 2vw !important;
  }

  .footer-wrapper > div {
    padding: 0 !important;
    width: 50% !important;
    margin-bottom: 3rem;
    padding-left: 4vw !important;
  }
}

@media only screen and (max-width: 601px) {
  .footer-wrapper {
    flex-direction: column;
  }

  .footer-wrapper > div:nth-child(2) {
    padding: 0 0 3rem 0 !important;
  }

  .footer-wrapper > div {
    width: 100% !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-right: none !important;
    padding: 0 0 3rem 0 !important;
  }
}

.footer-bottom-section {
  background-color: hsla(198, 60%, 32%, 1);
  padding: 2rem;
}

.footer-bottom-section p {
  color: var(--clr-white-primary);
  text-align: center;
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
}
