.newsletter-section {
  background-color: hsla(210, 40%, 98%, 1);
  padding: 9.6rem 7.5vw;
}

.newsletter-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
  background-color: hsla(198, 60%, 32%, 1);
}

.newsletter-wrapper img:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
}

.newsletter-wrapper img:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
}

.newsletter-wrapper h2 {
  color: var(--clr-white-primary);
  text-align: center;
  font-size: 4.2rem;
  font-weight: var(--fw-semi-bold);
  line-height: 4.6rem;
  padding: 8.2rem 0 4.8rem;
}

.newsletter-wrapper form {
  padding-bottom: 10rem;
  display: flex;
  gap: 2.8rem;
}

.newsletter-wrapper form input {
  color: var(--clr-white-primary);
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
  line-height: 2.4rem;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px 20px;
}

.newsletter-wrapper form input[type="submit"] {
  background-color: var(--clr-white-primary);
  color: var(--clr-black-primary);
  padding: 1.6rem 6.5vw;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .newsletter-wrapper form {
    flex-direction: column;
  }
}